@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/cinzel.woff') format('woff');
  }
  @font-face {
    font-family: 'Cinzel Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/cinzel-bold.woff') format('woff');
  }
}

:root {
  /*--background: #ffffff;*/
  /*--foreground: #171717;*/

  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .desktop-foreground {
    @apply hidden min-[968px]:block;
  }

  .mobile {
    @apply w-full max-w-[480px] h-full overflow-auto absolute right-1/2 translate-x-1/2 min-[968px]:right-0 min-[968px]:translate-x-0;
  }

  .mobile::-webkit-scrollbar, .message::-webkit-scrollbar {
    display: none;
  }
}