@import url('https://fonts.cdnfonts.com/css/inclusive-sans-2');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/cinzel.woff') format('woff');
  }
  @font-face {
    font-family: 'Cinzel Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/cinzel-bold.woff') format('woff');
  }
  @font-face {
    font-family: 'Literata';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Literata-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/PlayfairDisplay-Regular.woff') format('woff');
  }
  @font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/lora-regular-webfont.woff') format('woff');
  }
}

:root {
  /*--background: #ffffff;*/
  /*--foreground: #171717;*/

  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inclusive Sans", Helvetica, sans-serif;
}

@layer base {
  .playfair-display {
    font-family: "Playfair Display";
  }

  .lora {
    font-family: "Lora";
  }

  .literata {
    font-family: "Literata";
  }

  .cinzel {
    font-family: "Cinzel";
  }

  .cinzel-bold {
    font-family: "Cinzel Bold";
  }

  .inclusive-sans {
    font-family: 'Inclusive Sans', sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .rotate {
    animation: rotate 4s linear infinite;
  }
}

@layer components {
  .desktop-foreground {
    @apply hidden min-[968px]:block;
  }

  .mobile {
    @apply w-full h-full overflow-auto;
  }

  .mobile::-webkit-scrollbar, .message::-webkit-scrollbar {
    display: none;
  }

  .flash-message {
    @apply fixed z-30 text-green-700 bottom-[4.5rem] flex items-center right-10 min-h-8 min-w-44 bg-white rounded border-l-8 border-green-700;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}